# Libraries

In [11]:
import pandas as pd

# Reading the data of the IMD and sub-components from the excel

In [12]:
# !pip install xlrd

# IMD 2019
df_imd = pd.read_excel("../../Data/IMD/2019/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name="IMD", usecols=[1,2,3,4,5,6,7,8,9,10,11], header=0)
df_income = pd.read_excel("../../Data/IMD/2019/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name="Income", usecols=[1,2,3,4,5,6,7,8,9], header=0)
df_employment = pd.read_excel("../../Data/IMD/2019/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name="Employment", usecols=[1,2,3,4,5,6,7,8,9], header=0)
df_education = pd.read_excel("../../Data/IMD/2019/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name="Education", usecols=[1,2,3,4,5,6,7], header=0)
df_health = pd.read_excel("../../Data/IMD/2019/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name="Health", usecols=[1,2,3,4,5,6,7], header=0)
df_crime = pd.read_excel("../../Data/IMD/2019/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name="Crime", usecols=[1,2,3,4,5,6,7], header=0)
df_barriers_to_housing_and_services = pd.read_excel("../../Data/IMD/2019/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name="Barriers", usecols=[1,2,3,4,5,6,7], header=0)
df_living_environment = pd.read_excel("../../Data/IMD/2019/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name="Living", usecols=[1,2,3,4,5,6,7], header=0)
df_idaci = pd.read_excel("../../Data/IMD/2019/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name="IDACI", usecols=[1,2,3,4,5,6,7], header=0)
df_idaopi = pd.read_excel("../../Data/IMD/2019/File_11_-_IoD2019_Local_Authority_District_Summaries__upper-tier__.xlsx", sheet_name="IDAOPI", usecols=[1,2,3,4,5,6,7], header=0)

In [13]:
boroughs = ['Kensington and Chelsea', 'Hounslow', 'Ealing', 'Westminster',
       'Southwark', 'Wandsworth', 'Hillingdon', 'Bexley',
       'Haringey', 'Tower Hamlets', 'Camden', 'Lambeth', 'Barnet',
       'Bromley', 'Sutton', 'Brent', 'Greenwich', 'Merton', 'Enfield',
       'Redbridge', 'Richmond upon Thames', 'Croydon', 'Waltham Forest',
       'Newham', 'Lewisham', 'Kingston upon Thames', 'Harrow',
       'Islington', 'Hackney', 'Havering', 'Hammersmith and Fulham',
       'Barking and Dagenham']

In [14]:
# 2019
# filtering the dataframes to only include the boroughs we are interested in    
df_imd = df_imd.loc[df_imd['Upper Tier Local Authority District name (2019)'].isin(boroughs)].reset_index(drop=True)
df_income = df_income.loc[df_income['Upper Tier Local Authority District name (2019)'].isin(boroughs)].reset_index(drop=True)
df_employment = df_employment.loc[df_employment['Upper Tier Local Authority District name (2019)'].isin(boroughs)].reset_index(drop=True)
df_education = df_education.loc[df_education['Upper Tier Local Authority District name (2019)'].isin(boroughs)].reset_index(drop=True)
df_health = df_health.loc[df_health['Upper Tier Local Authority District name (2019)'].isin(boroughs)].reset_index(drop=True)
df_crime = df_crime.loc[df_crime['Upper Tier Local Authority District name (2019)'].isin(boroughs)].reset_index(drop=True)
df_barriers_to_housing_and_services = df_barriers_to_housing_and_services.loc[df_barriers_to_housing_and_services['Upper Tier Local Authority District name (2019)'].isin(boroughs)].reset_index(drop=True)
df_living_environment = df_living_environment.loc[df_living_environment['Upper Tier Local Authority District name (2019)'].isin(boroughs)].reset_index(drop=True)
df_idaci = df_idaci.loc[df_idaci['Upper Tier Local Authority District name (2019)'].isin(boroughs)].reset_index(drop=True)
df_idaopi = df_idaopi.loc[df_idaopi['Upper Tier Local Authority District name (2019)'].isin(boroughs)].reset_index(drop=True)

# renaming the 'Upper Tier Local Authority District name (2019)' column to London Borough
df_imd.rename(columns={'Upper Tier Local Authority District name (2019)':'London Borough'}, inplace=True)
df_income.rename(columns={'Upper Tier Local Authority District name (2019)':'London Borough'}, inplace=True)
df_employment.rename(columns={'Upper Tier Local Authority District name (2019)':'London Borough'}, inplace=True)
df_education.rename(columns={'Upper Tier Local Authority District name (2019)':'London Borough'}, inplace=True)
df_health.rename(columns={'Upper Tier Local Authority District name (2019)':'London Borough'}, inplace=True)
df_crime.rename(columns={'Upper Tier Local Authority District name (2019)':'London Borough'}, inplace=True)
df_barriers_to_housing_and_services.rename(columns={'Upper Tier Local Authority District name (2019)':'London Borough'}, inplace=True)
df_living_environment.rename(columns={'Upper Tier Local Authority District name (2019)':'London Borough'}, inplace=True)
df_idaci.rename(columns={'Upper Tier Local Authority District name (2019)':'London Borough'}, inplace=True)
df_idaopi.rename(columns={'Upper Tier Local Authority District name (2019)':'London Borough'}, inplace=True)

In [15]:
df_imd

,London Borough,IMD - Average rank,IMD - Rank of average rank,IMD - Average score,IMD - Rank of average score,IMD - Proportion of LSOAs in most deprived 10% nationally,IMD - Rank of proportion of LSOAs in most deprived 10% nationally,IMD 2019 - Extent,IMD 2019 - Rank of extent,IMD 2019 - Local concentration,IMD 2019 - Rank of local concentration
0,Barking and Dagenham,25551.85,5,32.768,17,0.0364,92,0.4724,18,29391.87,86
1,Barnet,13803.35,113,16.148,117,0.0047,126,0.0523,123,26151.40,125
2,Bexley,13529.71,116,16.273,116,0.0000,130,0.0755,115,27051.79,119
3,Brent,21083.02,39,25.558,61,0.0578,77,0.2074,69,29908.65,78
4,Bromley,11297.45,132,14.163,130,0.0051,125,0.0734,116,27626.58,112
5,Camden,16763.28,85,20.131,90,0.0000,130,0.1379,94,27872.90,110
6,Croydon,18371.23,72,22.477,75,0.0227,104,0.1897,75,29186.80,93
7,Ealing,18991.69,62,22.710,74,0.0204,107,0.1630,84,28827.66,100
8,Enfield,20418.65,46,25.781,57,0.0546,80,0.2942,48,29748.46,79
9,Greenwich,20383.77,47,24.464,66,0.0066,123,0.2017,72,28579.85,104
10,Hackney,25312.57,7,32.526,18,0.1111,56,0.4319,22,30187.74,73
11,Hammersmith and Fulham,18643.47,68,22.270,78,0.0088,116,0.1644,82,28576.65,105
12,Haringey,21887.62,29,27.956,38,0.0966,60,0.3210,41,30429.89,67
13,Harrow,13071.33,118,15.031,123,0.0000,130,0.0268,138,24571.68,137
14,Havering,14036.00,111,16.789,112,0.0067,122,0.0814,113,27349.32,116
15,Hillingdon,15515.03,94,18.223,103,0.0000,130,0.0692,117,26225.86,124
16,Hounslow,18652.53,67,21.487,82,0.0070,121,0.0890,110,27292.93,117
17,Islington,22490.24,24,27.535,41,0.0488,87,0.2705,58,29301.65,87
18,Kensington and Chelsea,17177.54,80,21.526,81,0.0874,65,0.1985,73,30007.35,76
19,Kingston upon Thames,9412.29,140,11.381,143,0.0000,130,0.0122,142,20278.67,145
20,Lambeth,21351.38,34,25.422,62,0.0000,130,0.1949,74,28390.91,106
21,Lewisham,21959.25,28,26.661,49,0.0296,98,0.2464,62,28994.08,95
22,Merton,12224.63,123,14.649,127,0.0000,130,0.0389,134,25452.04,132
23,Newham,24138.70,11,29.577,34,0.0244,102,0.2884,53,28987.07,96
24,Redbridge,15082.62,98,17.203,109,0.0000,130,0.0405,131,25538.12,131
25,Richmond upon Thames,7159.19,148,9.425,148,0.0000,130,0.0076,145,20998.48,144
26,Southwark,21247.36,35,25.811,55,0.0301,97,0.2305,67,28758.95,102
27,Sutton,11415.25,130,13.987,131,0.0083,120,0.0582,120,26617.95,120
28,Tower Hamlets,22507.05,23,27.913,39,0.0139,111,0.3057,44,29011.42,94
29,Waltham Forest,21186.64,36,25.209,63,0.0208,105,0.1783,77,28906.69,99
30,Wandsworth,14312.18,108,16.611,113,0.0000,130,0.0495,125,25999.84,128
31,Westminster,16573.82,87,20.339,88,0.0234,103,0.1587,85,29203.12,92

# Checking for Null values

In [16]:
def check_for_missing_data(df):
    print(df.isna().sum())

check_for_missing_data(df_imd)
check_for_missing_data(df_income)
check_for_missing_data(df_employment)
check_for_missing_data(df_education)
check_for_missing_data(df_health)
check_for_missing_data(df_crime)
check_for_missing_data(df_barriers_to_housing_and_services)
check_for_missing_data(df_living_environment)
check_for_missing_data(df_idaci)
check_for_missing_data(df_idaopi)

London Borough                                                        0
IMD - Average rank                                                    0
IMD - Rank of average rank                                            0
IMD - Average score                                                   0
IMD - Rank of average score                                           0
IMD - Proportion of LSOAs in most deprived 10% nationally             0
IMD - Rank of proportion of LSOAs in most deprived 10% nationally     0
IMD 2019 - Extent                                                     0
IMD 2019 - Rank of extent                                             0
IMD 2019 - Local concentration                                        0
IMD 2019 - Rank of local concentration                                0
dtype: int64
London Borough                                                           0
Income - Average rank                                                    0
Income - Rank of average rank                                            0
Income - Average score                                                   0
Income - Rank of average score                                           0
Income - Proportion  of LSOAs in most deprived 10% nationally            0
Income - Rank of proportion of LSOAs in most deprived 10% nationally     0
Income scale                                                             0
Rank of Income Scale                                                     0
dtype: int64
London Borough                                                               0
Employment - Average rank                                                    0
Employment - Rank of average rank                                            0
Employment - Average score                                                   0
Employment - Rank of average score                                           0
Employment - Proportion  of LSOAs in most deprived 10% nationally            0
Employment - Rank of proportion of LSOAs in most deprived 10% nationally     0
Employment scale                                                             0
Rank of Employment Scale                                                     0
dtype: int64
London Borough                                                                                  0
Education, Skills and Training - Average rank                                                   0
Education, Skills and Training - Rank of average rank                                           0
Education, Skills and Training - Average score                                                  0
Education, Skills and Training - Rank of average score                                          0
Education, Skills and Training - Proportion  of LSOAs in most deprived 10% nationally           0
Education, Skills and Training - Rank of proportion of LSOAs in most deprived 10% nationally    0
dtype: int64
London Borough                                                                                      0
Health Deprivation and Disability - Average rank                                                    0
Health Deprivation and Disability - Rank of average rank                                            0
Health Deprivation and Disability - Average score                                                   0
Health Deprivation and Disability - Rank of average score                                           0
Health Deprivation and Disability - Proportion  of LSOAs in most deprived 10% nationally            0
Health Deprivation and Disability - Rank of proportion of LSOAs in most deprived 10% nationally     0
dtype: int64
London Borough                                                          0
Crime - Average rank                                                    0
Crime - Rank of average rank                                            0
Crime - Average score                                                   0
Crime - Rank of average score                                           0
Crime - Proportion  of LSOAs in most deprived 10% nationally            0
Crime - Rank of proportion of LSOAs in most deprived 10% nationally     0
dtype: int64
London Borough                                                                                     0
Barriers to Housing and Services - Average rank                                                    0
Barriers to Housing and Services - Rank of average rank                                            0
Barriers to Housing and Services - Average score                                                   0
Barriers to Housing and Services - Rank of average score                                           0
Barriers to Housing and Services - Proportion  of LSOAs in most deprived 10% nationally            0
Barriers to Housing and Services - Rank of proportion of LSOAs in most deprived 10% nationally     0
dtype: int64
London Borough                                                                       0
Living Environment - Average rank                                                    0
Living Environment - Rank of average rank                                            0
Living Environment - Average score                                                   0
Living Environment - Rank of average score                                           0
Living Environment - Proportion  of LSOAs in most deprived 10% nationally            0
Living Environment - Rank of proportion of LSOAs in most deprived 10% nationally     0
dtype: int64
London Borough                                                          0
IDACI - Average rank                                                    0
IDACI - Rank of average rank                                            0
IDACI - Average score                                                   0
IDACI - Rank of average score                                           0
IDACI - Proportion  of LSOAs in most deprived 10% nationally            0
IDACI - Rank of proportion of LSOAs in most deprived 10% nationally     0
dtype: int64
London Borough                                                           0
IDAOPI - Average rank                                                    0
IDAOPI - Rank of average rank                                            0
IDAOPI - Average score                                                   0
IDAOPI - Rank of average score                                           0
IDAOPI - Proportion  of LSOAs in most deprived 10% nationally            0
IDAOPI - Rank of proportion of LSOAs in most deprived 10% nationally     0
dtype: int64

# Exporting the dataframes to different files

In [17]:
# save the dataframes to csv files
df_imd.to_csv('../../Data/IMD/2019/imd_2019.csv', index=False)
df_income.to_csv('../../Data/IMD/2019/income_2019.csv', index=False)
df_employment.to_csv('../../Data/IMD/2019/employment_2019.csv', index=False)
df_education.to_csv('../../Data/IMD/2019/education_2019.csv', index=False)
df_health.to_csv('../../Data/IMD/2019/health_2019.csv', index=False)
df_crime.to_csv('../../Data/IMD/2019/crime_2019.csv', index=False)
df_barriers_to_housing_and_services.to_csv('../../Data/IMD/2019/barriers_to_housing_and_services_2019.csv', index=False)
df_living_environment.to_csv('../../Data/IMD/2019/living_environment_2019.csv', index=False)
df_idaci.to_csv('../../Data/IMD/2019/idaci_2019.csv', index=False)
df_idaopi.to_csv('../../Data/IMD/2019/idaopi_2019.csv', index=False)